.not-found-bg-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.not-found-image {
  width: 100%;
  max-width: 600px;
}

.not-found-heading {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  font-size: 40px;
}

.not-found-paragraph {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
}
