.home-bg-container {
  min-height: 100vh;
  background-image: url(https://assets.ccbp.in/frontend/react-js/home-lg-bg.png);
  background-size: cover;
  font-family: Roboto;
  padding: 30px 60px;
}

.home-main-heading {
  font-size: 60px;
  color: #ffffff;
  font-weight: 700;
  width: 100%;
  max-width: 550px;
}

.home-page-description {
  font-size: 24px;
  color: #f8fafc;
  width: 100%;
  max-width: 550px;
  margin-bottom: 44px;
}

.home-find-jobs-btn {
  background-color: #6366f1;
  color: #f1f5f9;
  font-weight: 600;
  font-size: 20px;
  padding: 16px 22px;
  border-width: 0px;
  border-radius: 12px;
}

@media screen and (max-width: 767px) {
  .home-bg-container {
    background-image: url(https://assets.ccbp.in/frontend/react-js/home-sm-bg.png);
    padding: 15px 30px;
  }
  .home-main-heading {
    font-size: 40px;
  }
  .home-page-description {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .home-find-jobs-btn {
    font-size: 18px;
    padding: 12px 18px;
    border-radius: 8px;
  }
}
