.skill-item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 20px;
}

.skill-image {
  height: 28px;
  margin-right: 14px;
}

.skill-name {
  font-family: Roboto;
  color: #ffffff;
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  .skill-item-container {
    margin-right: 25px;
    margin-bottom: 10px;
  }

  .skill-image {
    height: 22px;
    margin-right: 8px;
  }

  .skill-name {
    font-size: 18px;
  }
}
