.job-item-bg-container {
  background-color: #000000;
  min-height: 100vh;
  padding: 30px 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.job-item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #272727;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 1050px;
  margin-bottom: 16px;
}

.logo-and-title-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.company-logo {
  height: 80px;
  width: 80px;
  margin-right: 20px;
}

.title-and-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.job-title {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 600;
  font-size: 30px;
  margin: 0px;
}

.job-rating {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  margin: 0px;
}

.star-icon {
  color: #fbbf24;
}

.location-type-and-package {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0px;
}

.location-and-jobtype-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.location-and-jobtype-text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  margin: 0px;
  margin-right: 14px;
}

.necessary-icons {
  color: #ffffff;
  font-size: 20px;
  margin-right: 7px;
}

.package-per-annum {
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
}

.horizontal-line-job-item {
  border: 1px solid #b6c5ff;
  width: 100%;
}

.website-link-item {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.visit {
  color: #4f46e5;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  margin-right: 10px;
}

.external-link-icon {
  color: #4f46e5;
  font-size: 24px;
  padding: 2px;
}

.description-text {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  margin: 4px 0px;
}

.skills-heading {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  margin: 4px 0px;
}

.skills-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.similar-jobs-heading {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  text-align: left;
  width: 100%;
  max-width: 1050px;
}

.similar-jobs-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1050px;
}

.description-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.life-at-company-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.life-at-company-description {
  width: 69%;
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  margin: 4px 0px;
}

.life-at-company-image {
  width: 29%;
}

.job-description-paragraph {
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
}

.loader-container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.failure-view-image {
  width: 60%;
}

.failure-heading {
  font-size: 35px;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
}

.failure-paragraph {
  font-size: 18px;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
}

.retry-btn {
  padding: 16px 20px;
  background-color: #4f46e5;
  border-width: 0px;
  border-radius: 8px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
}

.failure-view-container {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .similar-jobs-heading {
    font-size: 28px;
  }

  .skills-heading {
    font-size: 20px;
    margin: 2px 0px;
  }

  .life-at-company-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .life-at-company-description {
    width: 100%;
    font-size: 16px;
    margin: 8px 0px;
  }

  .life-at-company-image {
    width: 100%;
    margin-top: 10px;
  }

  .job-item-bg-container {
    padding: 16px 24px;
  }
  .job-item-container {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 12px;
  }

  .logo-and-title-container {
    margin-bottom: 6px;
  }

  .company-logo {
    height: 60px;
    width: 60px;
    margin-right: 14px;
  }

  .job-title {
    font-weight: 500;
    font-size: 24px;
  }

  .job-rating {
    font-size: 16px;
  }

  .location-and-jobtype-text {
    font-size: 14px;
    margin-right: 8px;
  }

  .necessary-icons {
    font-size: 16px;
    margin-right: 5px;
  }

  .package-per-annum {
    font-size: 16px;
  }

  .description-text {
    font-size: 22px;
    margin: 2px 0px;
  }

  .job-description-paragraph {
    font-size: 16px;
  }

  .visit {
    font-size: 16px;
    margin-right: 8px;
  }

  .external-link-icon {
    font-size: 20px;
  }
}
